/* :root {
  --ion-color-primary: #34ae3c;
  --ion-color-primary-rgb: 52, 174, 60;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2e9935;
  --ion-color-primary-tint: #48b650;
} */

:root {
  --ion-color-secondary: #2f7ba5;
  --ion-color-secondary-rgb: 47, 123, 165;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: rgb(42, 110, 146);
  --ion-color-secondary-tint: rgb(53, 136, 181);
}
